# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\רואי קיסוס\Desktop\לימודים\תואר ראשון\2021א\ממן - בדיקת תרגילים\236363_winter_21_hw2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
